{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "semi": "error",
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [
      "error",
      { "code": 100, "tabWidth": 2, "ignoreComments": true, "ignoreTrailingComments": true }
    ],
    "quotes": ["error", "single"]
  }
}
