{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-expect-type"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:eslint-plugin-expect-type/recommended"
  ],
  "rules": {
    "semi": "error",
    "comma-dangle": ["error", "always-multiline"],
    "max-len": [
      "error",
      { "code": 100, "tabWidth": 2, "ignoreComments": true, "ignoreTrailingComments": true }
    ],
    "quotes": ["error", "single"],
    "expect-type/expect": ["error", { "disableExpectTypeSnapshotFix": false }],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
